<h1><%= @album.band.name %></h1>

<p><a href="<%= band_url(@album.band) %>">Back to Albums</a></p>
<h4><%= @album.name %> Tracks:</h4>

<ul>
  <% @album.tracks.each do |track| %>
    <li><a href="<%= track_url(track)  %>"><%= track.name %></li>
  <% end %>
</ul>


<form action="<%= new_album_track_url(@album) %>" method="get">
  <button>Add New Track</album>
</form>
